

body{
    margin: 0;
}
#game_title{
    width: 100%;
    height: fit-content;
    text-align: center;
}
#game_status{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#start_button{
    border: 2px solid black;
}
#container{
    display: grid;
    width: 80vw;
    margin-left: 10vw;
    height: 80vh;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2px;
    gap: 2px;
}
#container > .tile{
    border:2px solid black;
}
